.error__Container {
    width: 100%px;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.error__button {

    display: block;
    background-color: rgb(42, 168, 130);
    margin: auto;
    border-radius: 10px;
    outline: none;
    border: none;

    padding: 10px 20px;
    font-size: 24px;
}

.error__button #goToHome {
    color: white;
    text-decoration: none;

}